<div id="main-block">
  <div id="index-text">
    <br>
    <p id="problem-header"><b>The Problem</b></p>
    <p>
      It has long been hoped that advances in information technology would allow historically marginalized individuals and communities to take on a greater role in global decisions making – to bring their voice to the world stage.  And while developments have made it more affordable to give computers, internet access, and other vital tools to these groups, unfortunately, experience has shown that these technologies often can only be effectively harnessed when paired with an educational and training resource. 
    </p>
    <p id="solution-header"><b>The Solution</b></p>
    <p>
      The Youth Advocacy Network (YAN) is dedicated to empowering communities that are under-represented in the local and global governance to advocate for issues of local relevance to an international audience by teaching young people how to effectively use available technologies.  YAN Fellows teach a unique Leadership and New Media Advocacy curriculum that incorporates leadership skills, email, social networking, web-based research and video production.
    </p>
    <p>
      Students are encouraged to develop an advocacy strategy for their chosen topic and to implement this strategy online, building a network of international support. Throughout the process students are learning technological skills that can be used in a variety of ways while also engaging in cross-cultural communication, both online and with YAN Fellows.
    </p>
    <br>
  </div>
</div>