/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {  
  background-image: url("cameroon_hd_wallpaper.jpg");
  background-repeat:no-repeat;
  background-attachment:fixed;
  padding-top: 80px; 
} 

div.navbar-inner{
  background:white;
}

 #carousel_main{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 }

 .carousel-inner{
  width:100%;
  opacity:1;
 }

 .carousel-caption {
  margin-left: auto;
  margin-right: auto;
  width: 31em;
 }

#main_subheading {
  text-align: center;
}

#main_title{
  text-align: center;
}

